<h2>My Characters</h2>

<ul class="characters">
  <li *ngFor="let character of characters" (click)="onSelect(character)" [class.selected]="character === selectedCharacter" [ngClass]="{ 'hero': character.type === 'hero', 'villain': character.type === 'villain' }">
    <span class="character-element">
      <span class="badge">{{character.id}}</span> {{character.name}}
    </span>
    <button class="delete-button" (click)="deleteCharacter(character, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addCharacter()">Add New Character</button>
<div *ngIf="addingCharacter">
  <my-character-detail (close)="close($event)"></my-character-detail>
</div>

<div *ngIf="selectedCharacter">
  <h2>
    {{selectedCharacter.name | uppercase}} is my character
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
  <style>
    .hidden { visibility: hidden}
  </style>
  <h4>ngFor Features</h4>
  <button (click)="showNgFor=!showNgFor">{{showNgFor ? 'Hide' : 'Show'}} ngFor Features</button>
  <table [class.hidden]="!showNgFor">
    <tbody>
      <tr *ngFor="let character of characters; let ix = index; let c = count; let e = even; let o = odd; let f = first; let l = last">
        <td>{{character.name}}</td>
        <td>{{ix}}</td>
        <td>{{c}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
      </tr>
    </tbody>
  </table>
</div>